doctype 5
html
  head
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/testing/test.js")
    title= title
  body 
    #content KnappCeption
    button#maker(class="maker") Make a button