doctype 5
html
  head
    - for (var n in injections)
        script(type='text/javascript', src= injections[n] )
    script(type="text/javascript", src="/testing/test.js")
    title= title
  body 
    #content
    button#maker Make a button
    button#maker Make a button