doctype 5
html
  head
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/testing/test.js")
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    title= title
  body 
    button#maker Make a button
    button#flip Flipin
    #container

