extends layout

block head
    script(type="text/javascript", src="/javascripts/index_default.js")

block content
    #side-bar
        #side-profile-frame
        #side-nav
            .button#hot HOT CHALLENGES
            .button#new NEW CHALLENGES
    #main-frame
    #newsfeed-frame
