extends layout

block head
    script(type="text/javascript", src="/javascripts/index_default.js")

block content
    #side-bar
        #side-profile-frame
        #side-nav
            .button#profile Profile
            .button#challenges Challenges
            .button#achievements Achievements
            .button#friends Friends
            .button#find_chall Find Challenge
            .button#create_chall Create Challenge
    #main-frame
    #newsfeed-frame
