extends layout

block head
    - for (var n in injections)
        script(type='text/javascript', src= injections[n] )

block content
    #side-bar
        #side-profile-frame
        #side-nav
    #main-frame
    #newsfeed-frame