extends layout

block head
    script(type="text/javascript", src="/js/require/require.js", data-main="/js/index_main")
block content
    #background
    include sidebar
    #decisions
    #main-frame
    #newsfeed
    #templates
        include mainframe/social
        include mainframe/create_challenge
        include mainframe/challenges
