#app
    | Cash: 
    #cash
    br
    #content
    form#input
        | Name: 
        input(type='text', name='name')
        br
        | Type: 
        input(type='text', name='type')
        br
        | Description: 
        input(type='text', name='description')
        br
        | Price: 
        input(type='text', name='price')

    button#adder Add new item