extends layout

block head
    script(type="text/javascript", src="/js/require/require.js", data-main="/js/index_main")
block content
    #side-bar
        #side-profile-frame
            img#side-profile-frame-image(src="/images/jag.png")
        .button.hl#btn-challenges Challenges
        .button.hl#btn-social Social
        .button.hl#btn-achivements Achievements
        .button.hl#btn-find-challenge Find Challenge
        .button.hl#btn-create-challenge Create Challenge
    #main-frame
    #newsfeed
    #templates
        include mainframe/social
        include mainframe/create_challenge