extends layout

block head
    script(type="text/javascript", src="/js/require/require.js", data-main="/js/index_main")
block content
    #side-bar
        #side-profile-frame
        .button#btn-challenges Challenges
        .button#btn-social Social
        .button#btn-achivements Achievements
        .button#btn-find-challenge Find Challenge
        .button#btn-create-challenge Create Challenge
    #main-frame
    #newsfeed
    #templates
        include mainframe/social