extends layout

block head
    script(type="text/javascript", src="/js/index_default.js")

block content
    #side-bar
        #side-profile-frame
        #side-nav
            .button Challenges
            .button Social
            .button Achievements
            .button Find Challenge
            .button Create Challenge
    #main-frame
    #sub-frame
    #templates
        include mainframe/profile