doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/layout_default.js')
    block head
  body
    #content
        #header
        block content
        #footer
    #ssv #{ssv}