#side-bar
    #side-profile-frame
        img#side-profile-frame-image(src="/file/jag.png")
    .button.hl#btn-challenges Challenges
    .button.hl#btn-social Social
    .button.hl#btn-achivements Achievements
    .button.hl#btn-find-challenge Find Challenge
    .button.hl#btn-create-challenge Create Challenge