doctype 5
html
  head
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/underscore.js")
    script(type="text/javascript", src="/javascripts/backbone.js")
    script(type="text/javascript", src="/testing/ss_testing.js")
    title= title
  body