#mainframe-create-challenge
    form
        #challengeForm
            #challengePicture
            | Name:<br>
            input.inputFont#nameInput(type="text", name="name")br

            | Description:<br>
            textarea.inputFont#descriptionInput(type="text", name="description",rows="10", cols="30")br

            | Private: 
            input(type="checkbox", name="private", value="yes")br

            #achievementBox
                | Achievement<br>
                | Name:
                input.inputFont(type="text", name="achievementName")
                | Pic:

            #dateBox
                | Date(Optional)<br>
                | From 
                input#from.inputFont.dateInput(type="text", name="from")
                | To 
                input#to.inputFont.dateInput(type="text", name="to")

            input.invButton.hl#createButton(type="submit", value="Create Challenge")
        #friendInvite
            .invButton.hl Challenge All
            ol#friendBox
                - each friend in user.c_friends
                    li(tag=friend.tag).invButton.hl
                        != friend.tag

            .invButton.hl#unchallengeButton Unchallenge All