#mainframe-create-challenge
    form
        #challenge-form
            | Name:<br>
            input.input-font#name-input(type="text", name="name")br

            | Description:<br>
            textarea.input-font#description-input(type="text", name="description",rows="10", cols="30")br

            | Rules:<br>
            #rule-box
                input.input-font(type="text", name="rules")
                #add-rule-button

            | Public: 
            input(type="checkbox", name="public", value="yes")br

            #achievement-box.bottom-form
                | Achievement<br>
                | Name:
                input.input-font(type="text", name="achievementName")
                | Pic:

            #date-box.bottom-form
                | Date(Optional)<br>
                | From 
                input#from.input-font.date-input(type="text", name="from")
                | To 
                input#to.input-font.date-input(type="text", name="to")

            input.inv-button.hl#create-button(type="submit", value="Create Challenge")
        #friend-invite
            .inv-button.hl Challenge All
            ol#friend-box
                - each friend in user.c_friends
                    li(tag=friend.tag).inv-button.hl
                        != friend.tag

            .inv-button.hl#unchallenge-button Unchallenge All