#mainframe-create-challenge
    form
        #challenge-form
            #name-form
                input.form-input#name-input(type="text", name="name", value="Enter Name", autocomplete="off")
            #description-form
                textarea.form-input#description-input(type="text", name="description", rows="10", cols="30") Enter Description

            input.form-input#rule-input(type="text", name="rules", value="Enter Rule", autocomplete="off")
            #add-rule-button Add Rule
            #rule-box 

            #bottom-form
                #achievement-box.bottom-form
                    | Add Achievement
                #date-box.bottom-form
                    input#from.date-input.form-input(type="text", name="from", value="From", autocomplete="off")
                    input#to.date-input.form-input(type="text", name="to", value="To", autocomplete="off")
                #public-box.bottom-form Public
                    

        input#create-button(type="submit", value="Create Challenge")
    include ../social/friend_display