#mainframe-create-challenge
    form
        #challenge-form
            | Name:<br>
            input.input-font#name-input(type="text", name="name",autocomplete="off")br

            | Description:<br>
            textarea.input-font#description-input(type="text", name="description",rows="10", cols="30")br

            | Rules:<br>
            input.input-font#rule-input(type="text", name="rules", autocomplete="off")
            #add-rule-button.inv-button.hl ADD
            #rule-box

            | Public: 
            input#public-input(type="checkbox", name="public")br

            #achievement-box.bottom-form
                | Add Achievement

            #date-box.bottom-form
                | Date<br>
                | From 
                input#from.input-font.date-input(type="text", name="from", autocomplete="off")
                | To 
                input#to.input-font.date-input(type="text", name="to", autocomplete="off")

        input.inv-button.hl#create-button(type="submit", value="Create Challenge")
    include ../social/friend_display