#mainframe-form_layout
	form#form
		#challengeForm
			#challPic
			| Name:<br>
			input.input(type="text", name="name")br

			| Description:<br>
			textarea.input#descriptionInput(type="text", name="description",rows="10", cols="30")br

			|Public:
			input#publicCheckbox(type="checkbox", name="public", value="yes")br

			#achievementBox
				|Achievement<br>
				| Name:
				input#achievementName(type="text", name="achievementName")
				| Pic:

			input.invButton.hl#createButton(type="submit", value="Create Challenge")
		#friendInvite
			.invButton.hl Challenge All
			#friendBox
				.invButton.hl Spinno
			.invButton.hl#unchallengeButton Unchallenge All