#mainframe-challenges
	#challenges-info
		#challenges-name
		#challenges-public 
		#challenges-date 
		#challenges-host
		#challenges-description 
		#challenges-rules
		#challenges-achievement

	#challenges-scrollbar
		ul.challenge-display
			- each challenge in [1,2,3]
				li(challenge-id=challenge)
					div
						img(src="/images/achievements/circle.png")
