#mainframe-challenges
	#challenges-info
		#challenges-name The Epic Challenge
		#challenges-host Host: Simpelito
		#challenges-description Be Epic
		#challenges-rules Rules:

	#challenges-scrollbar
		ul.challenge-display
			- each challenge in [1,2,3]
				li
					div
						img(src="/images/achievements/circle.png")
