#mainframe-challenges
	#challenges-info
		#challenges-name Name
		#challenges-host Host
		#challenges-description Description
		#challenges-rules Rules

	#challenges-scrollbar
		ul.challenge-display
			-each chall([1,2])
				li
					div
						