#mainframe-challenges
	#challenges-info
		#challenges-name
		#challenges-date 13/05/2013 - 14/05/2013
		#challenges-host Host: Simpelito
		#challenges-public Public
		#challenges-description Be Epic
		#challenges-rules Rules:

	#challenges-scrollbar
		ul.challenge-display
			- each challenge in [1,2,3]
				li
					div
						img(src="/images/achievements/circle.png")
