*{
    margin: 0px;
    padding: 0px;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
}

#background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #45484d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a {
  color: #00B7FF;
}

#content{
    width: 100%;
}

#header{
    margin: 10px;
    background-color: gray;
    width: fill;
    height: 30px;
}

#side-bar{
    position: relative;
    left: -300px;
    background-color: white;
    position: fixed;
    width: 170px;
    height: 358px;
}

#side-profile-frame{
    width: fill;
    height: 170px;
    background-color: blue;
}

#side-profile-frame-image{
    width: 100%;
    height: 100%;
    background-color: blue;
}

#side-nav{
    margin: 10px;
    width: fill;
    height: 75%;
    background-color: purple;
}

#newsfeed{
    clear: both;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0px;

    background: #28343b; /* Old browsers */
    background: -moz-linear-gradient(top,  #28343b 42%, #828c95 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#28343b), color-stop(100%,#828c95)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #28343b 42%,#828c95 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #28343b 42%,#828c95 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #28343b 42%,#828c95 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #28343b 42%,#828c95 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#828c95',GradientType=0 ); /* IE6-9 */

}

#main-frame{
    position: absolute;
    height: 400;
    background-color: rgb(235, 235, 235);
    color: white;
    opacity: 0;

    /* IE */
    zoom: 1;
    filter: alpha(opacity = 0); 
}

#footer{
    margin: 10px;
    background-color: gray;
    height: 30px;
    float: bottom;
    position: absolute;
}

.button{
    width: 100%;
    height: 36px;
    background-color: white;
    border-top: 2px solid #B8BDC0;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: black;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

.hl:hover{
    background-color: #BFE5F2;
}

.button:active{
    background-color: #4DB8DB;
}

#social-template div{
    float: left;
    display: inline-block;
}

#mainframe-friend-display{
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(left,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to right,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
    border: 2px solid white;

    overflow: hidden;
}

#mainframe-friend-display ul{
    list-style: none;
}

#mainframe-friend-display ul li{
    position: relative;
    height: 120px;
    background-color: white;
    border: 1px solid #4DB8DB;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
    width: 100%;

}

#mainframe-friend-display ul li div{
    width: 100%;
    height: 100%;
    position: relative;

}

#mainframe-friend-display ul li div{
    width: 100%;
    height: 100%;
    position: relative;

}

#mainframe-friend-display ul li div span{
    line-height: 100px;

}

#mainframe-friend-display ul li img{
    border: 1px solid black;
    float: left;
    margin: 5px;
    width: 90px;
    height: 90px;
}

#social-template{
    color: black;
    background-color: rgb(235, 235, 235);
}

#mainframe-profile{
    position: absolute;
    background-color: rgb(215, 215, 215);
    width: 70%;
    height: 85%;
    border-bottom: 1px solid #4DB8DB;
}

#mainframe-profile-menu{
    position: absolute;
    width: 70%;
    height: 15%;
    bottom: 0px;
}

input.profile-menu{
    height: 100%;
    width: 100%;
    color: gray;
}

input.profile-menu:focus{
    color: #4DB8DB;
}

#mainframe-profile-menu .profile-form{
    height: 100%;
    width: 50%;
    position: absolute;
}

#mainframe-profile-menu .dynamic-content{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0px;
    font-size: 24px;

}

#templates{
    display: none;
}

#ssv{
    display: none;
}

.novelty{
    font: 100px "Lucida Grande",Helvetica,Arial,sans-serif;
    line-height: 100px;
    color: white;
    white-space: nowrap;
}

#decisions{
    position: absolute;
    left: 0px;
    bottom: 100px;
    width: 170px;
    opacity: 0;

    /* IE */
    zoom: 1;
    filter: alpha(opacity = 0); 
}

.decision{
    width: 170px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#mainframe-create-challenge{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    font: 25px "Lucida Grande",Helvetica,Arial,sans-serif;
    color: black;
}

#mainframe-create-challenge .input-font{
    font: 25px "Lucida Grande",Helvetica,Arial,sans-serif;
}

#challenge-form{
    position: absolute;
    height: 85%;
    width:69%;
    margin-left: 5px;
}

#name-input{
    position: relative;
    width: 100%;
}

#description-input{
    position: relative;
    height: 15%;
    resize: none;
    width: 100%;
}

#rule-box{
    position: relative;
    height: 48%;
    width: 100%;
    overflow: auto;
}

#rule-input{
    position: absolute;
    width: 50%;
}

#add-rule-button,#remove-rule-button{
    position: relative;
    left: 50%;
    width: 200px;
    height: 31px;
    line-height: 30px;
    border: 1px solid grey;
    bottom: 5px;
}

.bottom-form{
    position: absolute;
    border: 1px solid grey;
    width: 50%;
    height: 70px;
    text-align: center;
    bottom: 0px;
}

#achievement-box{
    left: 0px;

}

#achievement-box input{
    width: 40%;
}

#date-box{
    right: 0px;
}

.date-input{
    width: 30%;
}

#friend-invite{
    position: absolute;
    background-color: lightgrey;
    width: 30%;
    height: 100%;
    right: 0px;
}

.inv-button{
    background-color: white;
    position: relative;
    width:100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 5px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
}

.inv-button:active{
    color: white;
    background-color: #4DB8DB;
}

#friend-box{
    position: relative;
    width:100%;
    height: 70%;
    list-style-type: none;
    overflow: auto;
}

#friend-box .ui-selecting{
    background: #BFE5F2;
}

#friend-box .ui-selected{
    background: #4DB8DB; 
    color: white;
}

#create-button{
    position: absolute;
    width: 69%;
    height: 15%;
    font-size: 50px;
    border: 1px solid grey;
    margin: 5px;
    bottom: 0px;
}

#mainframe-challenges{
    position: absolute;
    width: 100%;
    height: 100%;
}

#challenges-info{
    height: 80%;
}
#challenges-scrollbar{
    position: relative;
    height: 20%;
    width: 100%;
    background-color: blue;
    overflow: auto;
}

.challenge{
    position: relative;
    float: left;
    margin: 5px;
    height: 100%;
    width: 100px;
    background-color: red;
}