body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.item{
    border: 2px solid black;
    display: inline-block;
    margin: 5px;
}

#cash{
    display: inline-block;
}

#content{
    border: 2px solid blue;
    display: inline-block;
}