doctype 5
html
    head
        script(type="text/javascript", src="/javascripts/jquery.js")
        script(type="text/javascript", src="/javascripts/underscore.js")
        script(type="text/javascript", src="/javascripts/backbone.js")
        script(type="text/javascript", src="/testing/ss_sse.js")
        title= title
    body
        form#info
            | Name: 
            input(name='id', type='text')
            | Target:
            input(name='to', type='text')
        br
        button#connecter Connect to server
        button#sender Send button
        #sse-output